force-app/main/default/flows/MATCH_IWS_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>isChangedDecision2_myRule_1_Seat_Survey_Result_c</name>
        <label>isChangedDecision2_myRule_1_Seat_Survey_Result_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_Seat_Survey_Result_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Seat_Survey_Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Seat_Survey_Result__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_Seat_Survey_Result_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Seat_Survey_Result__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_Seat_Survey_Result_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Seats Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check Survey</label>
        </rules>
    </decisions>
    <description>Create IWS events when Survey is added, updated or removed from IWS</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(ISBLANK(TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Conversion_Opportunity__c )), &quot;&quot;,TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Conversion_Opportunity__c ) ) &amp;
IF(ISBLANK([Internship_Work_Site__c].Seat_Survey_Result__r.Conversion_Opportunity_Other__c), &quot;&quot;, &quot;,  &quot; &amp; [Internship_Work_Site__c].Seat_Survey_Result__r.Conversion_Opportunity_Other__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_7283832137</name>
        <dataType>String</dataType>
        <expression> IF(ISBLANK(TEXT({!myVariable_current.Seat_Survey_Result__r.Conversion_Opportunity__c} )), &quot;&quot;,TEXT({!myVariable_current.Seat_Survey_Result__r.Conversion_Opportunity__c} ) ) &amp;
IF(ISBLANK({!myVariable_current.Seat_Survey_Result__r.Conversion_Opportunity_Other__c}), &quot;&quot;, &quot;,  &quot; &amp; {!myVariable_current.Seat_Survey_Result__r.Conversion_Opportunity_Other__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Internship_Work_Site__c].Seat_Survey_Result__r.Department__c &lt;&gt; null, [Internship_Work_Site__c].Seat_Survey_Result__r.Department__c,[Internship_Work_Site__c].Internship_Department__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_3978312324</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Seat_Survey_Result__r.Department__c} &lt;&gt; null, {!myVariable_current.Seat_Survey_Result__r.Department__c},{!myVariable_current.Internship_Department__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK(TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Dress_Code__c)), &quot;&quot;,TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Dress_Code__c)) &amp;
IF(ISBLANK([Internship_Work_Site__c].Seat_Survey_Result__r.Dress_Code_Other__c), &quot;&quot;,  &quot;,  &quot; &amp;[Internship_Work_Site__c].Seat_Survey_Result__r.Dress_Code_Other__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_1162409967</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!myVariable_current.Seat_Survey_Result__r.Dress_Code__c})), &quot;&quot;,TEXT({!myVariable_current.Seat_Survey_Result__r.Dress_Code__c})) &amp;
IF(ISBLANK({!myVariable_current.Seat_Survey_Result__r.Dress_Code_Other__c}), &quot;&quot;,  &quot;,  &quot; &amp;{!myVariable_current.Seat_Survey_Result__r.Dress_Code_Other__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(ISBLANK(TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Experience_with_Year_Up__c)), &quot;&quot;,TEXT([Internship_Work_Site__c].Seat_Survey_Result__r.Experience_with_Year_Up__c) ) &amp;
IF(ISBLANK([Internship_Work_Site__c].Seat_Survey_Result__r.Experience_with_Year_Up_Other__c), &quot;&quot;, &quot;,  &quot; &amp; [Internship_Work_Site__c].Seat_Survey_Result__r.Experience_with_Year_Up_Other__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_5654813914</name>
        <dataType>String</dataType>
        <expression> IF(ISBLANK(TEXT({!myVariable_current.Seat_Survey_Result__r.Experience_with_Year_Up__c})), &quot;&quot;,TEXT({!myVariable_current.Seat_Survey_Result__r.Experience_with_Year_Up__c}) ) &amp;
IF(ISBLANK({!myVariable_current.Seat_Survey_Result__r.Experience_with_Year_Up_Other__c}), &quot;&quot;, &quot;,  &quot; &amp; {!myVariable_current.Seat_Survey_Result__r.Experience_with_Year_Up_Other__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Internship_Work_Site__c].Seat_Survey_Result__r.Internship_Address__c &lt;&gt; null, [Internship_Work_Site__c].Seat_Survey_Result__r.Internship_Address__c,[Internship_Work_Site__c].Account__r.MATCH_Billing_Address__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_2689172383</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Seat_Survey_Result__r.Internship_Address__c} &lt;&gt; null, {!myVariable_current.Seat_Survey_Result__r.Internship_Address__c},{!myVariable_current.Account__r.MATCH_Billing_Address__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISBLANK([Internship_Work_Site__c].Seat_Survey_Result__r.Management_Style_Text__c), &quot;&quot;,LEFT([Internship_Work_Site__c].Seat_Survey_Result__r.Management_Style_Text__c,(LEN([Internship_Work_Site__c].Seat_Survey_Result__r.Management_Style_Text__c) - 1)) &amp; &quot;  &quot;) &amp;
IF(ISBLANK([Internship_Work_Site__c].Seat_Survey_Result__r.Management_Style_Other__c  ), &quot;&quot;, [Internship_Work_Site__c].Seat_Survey_Result__r.Management_Style_Other__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_5943849511</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!myVariable_current.Seat_Survey_Result__r.Management_Style_Text__c}), &quot;&quot;,LEFT({!myVariable_current.Seat_Survey_Result__r.Management_Style_Text__c},(LEN({!myVariable_current.Seat_Survey_Result__r.Management_Style_Text__c}) - 1)) &amp; &quot;  &quot;) &amp;
IF(ISBLANK({!myVariable_current.Seat_Survey_Result__r.Management_Style_Other__c}  ), &quot;&quot;, {!myVariable_current.Seat_Survey_Result__r.Management_Style_Other__c}  )</expression>
    </formulas>
    <interviewLabel>MATCH_IWS_Events-6_InterviewLabel</interviewLabel>
    <label>MATCH IWS Events</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Internship_Work_Site__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create IWS Events</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Available Intern Resources</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Available_Intern_Resources__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Available_Intern_Resources__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Conversion Job Title</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Conversion_Job_Title__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Conversion_Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Conversion Opportunity?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Conversion_Opportunity__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_7283832137</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Department</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Department__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_3978312324</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Dress Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Dress_Code__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_1162409967</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Experience with Year Up</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Experience_with_Year_Up__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_5654813914</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IWS ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>IWS_ID__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Internship Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Internship_Address__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_2689172383</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Job Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Job_Description__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Job_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Management Style</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Management_Style__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_5943849511</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other Matching Notes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_Matching_Notes__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Other_Matching_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Professional Skills</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Professional_Skills__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Professional_Skills_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Schedule Notes</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Schedule_Notes__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Schedule_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Team Culture</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Team_Culture__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Team_Culture__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Technical Skills</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Technical_Skills__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Technical_Skills__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Why Year Up?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Why_Year_Up__c</field>
            <value>
                <elementReference>myVariable_current.Seat_Survey_Result__r.Why_Year_Up__c</elementReference>
            </value>
        </inputAssignments>
        <object>MATCH_IWS_Event__e</object>
    </recordCreates>
    <startElementReference>isChangedDecision2_myRule_1_Seat_Survey_Result_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Internship_Work_Site__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Internship_Work_Site__c</objectType>
    </variables>
</Flow>
